.student-menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #191724; /* Dark background */
  border-radius: 50%;
}
.student-menu-icon div {
  width: 20px;
  height: 3px;
  background-color: #e5d8ff; /* Light purple color */
  border-radius: 2px;
}

.checkColor {
  background-color: yellow !important;
}
