.userDashboardBG {
  position: relative;
  background: linear-gradient(to bottom, #cbd7dd, #9eb5c0);
  /* min height dile desktop e upore nich kora jay */
  /* min-height: 100vh; */
  /* height: 100vh; */
  max-width: 100vw;
  overflow: hidden;
  /* overflow-y: auto; */
}

.userDashboardBG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/bg/bgPattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.06;
  z-index: 0;
}

.userDashboardBG > * {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 576px) {
  .userDashboardBG {
    height: 100%;
  }
  .widthBarao {
    width: 50% !important;
  }
}
