/* Scrollbar Hide for All Devices */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE এবং Edge এর জন্য */
  scrollbar-width: none; /* Firefox এর জন্য */
}
