.courseBoxUnderLine {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

.myLineThrough {
  position: absolute;
  right: 0;
  top: 15px;
  width: 40px;
  height: 2px;
  background-color: red;
  rotate: -20deg;
}

.animPercent {
  display: inline-block;
  animation: pulseSize 1.5s ease-in-out infinite;
}
@keyframes pulseSize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
