/* hide-arrows class for number input */
.ha::-webkit-inner-spin-button,
.ha::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ha {
  -moz-appearance: textfield; /* Firefox */
}
