@tailwind base;
@tailwind components;
@tailwind utilities;

/* left top: #4cafb3
right top: 004e6a
right down: 114044
fetf down: 131d34 */

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #4cafb3,
    #004e6a,
    #114044,
    #131d34
  );
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0; */

  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #4cafb3,
    #004e6a,
    #114044,
    #131d34
  );
  background-attachment: fixed;
  background-size: cover;
}

/* html,
body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #4cafb3,
    #004e6a,
    #114044,
    #131d34
  );
  background-attachment: fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
} */

.bgColor {
  background-color: #dcffff;
}
.myColor {
  background: linear-gradient(to right, #ff1e1e, #ff7872);
}

.pagePadding {
  padding: 20px;
}
@media only screen and (max-width: 576px) {
  .pagePadding {
    padding: 10px;
  }
}
